body{
  max-width: 1280px;
}

.sidebar{
  width: 200px;
  float: left;
  line-height: 300%;
  padding: 6px;
  border: 4px solid black;
  margin-right: 30px;
  background-color: red;
}

.column{
  width: 30%;
  float: left;
  padding-left: 2.5%;
  padding-bottom: 50px;
}

.header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.pic{
  float: right;
  padding-left: 30px;
  margin-bottom: 30px;
}

/* Media */

@media screen and (max-width: 1000px) {
  .column{
    float: none;
    width: 90%;
    text-align: center;
  }
}


@media screen and (max-width: 820px) {
  .pic {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (max-width: 430px) {
  .sidebar {
    width: 95%;
    list-style-position: inside;
    text-align: center;
    margin-bottom: 10px;
  }

  .sidebar li{
    padding-right: 20%;
  }
}

@media print {
  .sidebar {
    line-height: normal;
    border: none;
  }
  .pic {
    display: none;
  }
  p {
    font-size: 12px;
  }
  .column img {
    display: none;
  }

}
